:local(.scrollWrapper) {
  position: relative;
  overflow: hidden;
}

:local(.scrollContent) {
  overflow-y: overlay;
}

:local(.scrollbarTrack) {
  position: absolute;
  top: var(--spacing-xs);
  bottom: var(--spacing-xs);
  right: 0;
  width: 0;
  padding: 0 var(--spacing-xs);
  margin: 0 var(--spacing-xs);
  display: flex;
  height: -webkit-fill-available;
  background-color: transparent;
  transition: var(--tr);
  z-index: 9999;

  &:hover {
    width: 5px;
  }
}

:local(.scrollbarTrackHover) {
  width: 5px;

  & > .scrollbarThumb {
    background-color: var(--colour-l3);
  }
}

:local(.scrollbarThumb) {
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  width: 100%;
  background-color: var(--colour-l4);
  border-radius: var(--border-radius-sm);
  transition: var(--tr);
  transform: translateY(0);
}

:local(.scrollbarTrack.visible) {
  z-index: 9999;
  background-color: var(--colour-b4);
}

:local(.scrollbarThumb:hover) {
  background-color: var(--colour-l3);
}